FRONTEND_HOST_PORT=8080
SEMAPHORE_API_URL="https://sherlock-dev.tamucc.edu/semaphore-api/"

# Semaphore runs models 20 minutes past the hour
VITE_MODEL_RUN_TIME=20

SERVICE_ACCOUNT_USERNAME=
SERVICE_ACCOUNT_UID=